{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
{%load static%}
<section>
    <h1>Libros Devueltos</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Usuario</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.libro.titulo }}</td>
                <td>{{ prestamo.usuario.nombre }}</td>
                <td>{{ prestamo.fecha_prestamo }}</td>
                <td>{{ prestamo.fecha_devolucion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </section>
{%endblock%}
